<title>Event Details</title>
  <div class="switch-light-container">
    <label class="switch-light">
      <input type="checkbox" id="event-type-toggle">
      <span>
        <span>Current Events</span>
        <span>Past Events</span>
      </span>
      <a class="btn btn-warning"></a>
    </label>
  </div>

<% if @events %>

  <div id="current-events">

    <% @events.each do |event| %>
      <% if !event.closed? %>
        <% @open += 1 %>
        <div class="one-event" data-event-id="<%=event.id%>">
          <p>
          <strong><%= event.name %></strong> | <%= event.location %> | <button class="close-event">Close Event, Collect Money!</button> | <i class="fa fa-close"></i><br>
          <%= event.cost %>
          </p>
        </div>
      <% else %>
      <% end %>
    <% end %>
    <% if @open == 0 %>
      <p>No Current Events</p>
    <% end %>
  </div>

  <div id="past-events" class="hidden">
    <% @events.each do |event| %>
      <% if event.closed? %>
        <% @closed += 1 %>
        <div>
          <p>
          <strong><%= event.name %></strong> | <%= event.location %><br>
          <%= event.cost %>
          </p>
        </div>
      <% else %>
      <% end %>
    <% end %>
    <% if @closed == 0 %>
      <p>No Past Events Yet!</p>
    <% end %> 
  </div>

<% else %>
  <p>You have made no events yet!</p>
<% end %>


<script>
  $(function(){
    $("#event-type-toggle").on("click", function(){
      $("#current-events").toggleClass("hidden");
      $("#past-events").toggleClass("hidden");
    });
  });
</script>
<%= link_to "Make New Event", new_event_path %>