<%= form_tag events_path, class: 'form-horizontal' do %>
  <h1>IS THIS EVEN RENDERING ANYTHING?</h1>
  <div class="form-group">
    <%= label_tag "Name", class: "col-sm-2 control-label"%> 
    <%= text_field_tag "Name"%>
  </div>

  <div class="form-group">
    <%= label_tag "Location"%> 
    <%= text_field_tag "Location"%>
  </div>

  <div class="form-group">
    <%= label_tag "Cost"%>
    <%= text_field_tag "Cost"%>
  </div>

  <div class="form-group">
    <%= label_tag "Start Date"%>
    <%= select_date Date.today, prefix: :start_date %>
    <%= label_tag "Start Time"%>
    <%= select_time Time.now, ampm: true, minute_step: 15, prefix: :start_time %>
  </div>

  <div class="form-group">
    <%= label_tag "End Date"%>
    <%= select_date Date.today, prefix: :start_date %>
    <%= label_tag "End Time"%>
    <%= select_time Time.now, ampm:true, minute_step: 15, prefix: :start_time %>
  </div>

  </br>

  
    <%= submit_tag "Create Event", class: "pure-button pure-button-primary submit-button" %>
  </br>


<% end %>