<h1>Invite from your contact list</h1>
<%= form_tag attendees_path do %>
  <div>
    <%= label_tag "Contacts to invite:"%><br>
      <select multiple="multiple" id="my-select" name="my-select[]">
      <% @contacts.each do |contact| %>
        <option class="contact" value=<%= contact.id %>> <%= contact.firstname %> <%=contact.lastname%></option>
      <% end %>
      </select>
  	  <select multiple="multiple" id="selected" name="my-select[]">
  	  </select>
  </div>
    

<div><%= submit_tag "Submit" %></div>    
<% end %>


<br>
